.App {
  background-color: #f1f0f0;
  padding: 40px;
  margin: 10px;
}
.my-container{
   background-color: #ffffff;
   padding: 40px;
   width: 400px;
   margin: auto;
}

.myNumber{
   background-color: #000000;
   color: #fff;
   height: 25px;
   width: 25px;
   border-radius: 50%;
   display: inline-block;
   text-align: center;
   margin-right: 5px;
}
.foundationCheck{
   display: none;
}


